<div class="card clickable-card" style="width: 20rem;" (click)="showDetailsClick($event, lgModal)">
    <img class="card-img-top" [src]="sandwich.imageSrc"
         alt="sandwich">
    <div class="card-body">
        <h4 class="card-title">{{sandwich.name}}</h4>
        <p class="card-text">{{sandwich.description}}</p>
        <p><b>{{sandwich.price | currency:'EUR':true}}</b></p>
        <button (click)="addToOrderClick($event)" class="btn btn-primary">
            Ajouter au panier
        </button>
    </div>
</div>
