#breadCart {
    border-style: solid;
}
#elmntCart {
    border-style: solid;
}
#elmntCart h4{
    text-align: center;
    padding: 20px;
}
#title {
    padding : 30px;
}
#line {
    width: auto;
    height: 2px;
    border-style: solid black;
    position: absolute;
}
.clickable-card {
    cursor: pointer;
    cursor: hand;
    transition: all .2s ease-in-out;
}

.clickable-card:hover {
    background-color: #eeeeee;
    transform: scale(1.015);
}


.selected {color: OrangeRed;}

.basketDiv{
    position: absolute;
    border: 3px solid #73AD21;
    top: 400px;
    right: 0;
    width: 300px;
    height: auto;
}
.tab{
    margin-left: 5em;
}