
<div class="row">
  <div class="col-md-12" align="center">
      <h2>Customisez votre sandwich</h2>
  </div>
  <div class="col-md-12" align="center">
      <h3 id="title">1. Choix du pain</h3>
  </div>
  <div class="row justify-content-center">
    <div (click)="addBreadInBasket(bread.name)" *ngFor="let bread of breads" class="col-md-4 clickable-card" id="breadCart" align="center">
        <p>{{bread.name}}</p>
        <p>{{bread.description}}</p>
    </div>
  </div>
  <div class="col-md-12" align="center">
      <h3 id="title">2. Choix des éléments</h3>
  </div>
  


</div>
<ng-container *ngIf="toppings">
<div class="row">
  <div class="col-3" id="elmntCart">
    <h4>Principal</h4>
    <ul>
      <div *ngFor="let topping of toppings['1']">
        <label>
            <input type="checkbox"
                   name="toppings"
                   value="{{topping.id}}"
                   [(ngModel)]="topping.checked"/>
            {{topping.name}}
        </label>
      </div>
    </ul>
  </div>
  <div class="col-md-3" id="elmntCart">
    <h4>Crudités</h4>
    <ul>
      <div *ngFor="let topping of toppings[2]">
        <label>
          <input type="checkbox"
          name="toppings"
          value="{{topping.id}}"
          [(ngModel)]="topping.checked"/>
          {{topping.name}}
        </label>
      </div>
    </ul>
  </div>
  <div class="col-md-3" id="elmntCart">
    <h4>Sauce</h4>
    <ul>
      <div *ngFor="let topping of toppings[3]">
        
        <label>
          <input type="checkbox"
          name="toppings"
          value="{{topping.id}}"
          [(ngModel)]="topping.checked"/>
          {{topping.name}}
        </label>
      </div>
    </ul>
  </div>
</div>
</ng-container>
<div class="col-md-12" align="center">
  <h3 id="title">3. Validation</h3>
</div>
<div class="row justify-content-center">
  <div class="col-md-2">
    <button class="btn btn-primary">Sauver et continuer
    </button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary">Sauver et commander
    </button>
  </div>
</div>


  
<div class="basketDiv">
  
    <h3 align="center"><u>Panier</u></h3>
    <table>
      <tr>
        <th>{{logBreadName}}</th>
        <th></th>
      </tr>
      <tr *ngFor="let option of selectedOptions">
        <th>{{option.name}}</th>  
        <th style="text-align: right">{{option.price}}€</th>
      </tr> 
    </table>
      
    <hr noshade>
    <p>Total = {{getTotalToppings()}}€</p>
</div>




