<div class="col-md-12" align="center">
    <h2>Créez votre compte</h2>
    <h3>Pour pouvoir commander</h3>
</div>


<div class="row justify-content-center">
<div class="col-md-3">
    <form class="well form-horizontal" action=" " method="post"
        role="form" id="profil_form">

        <fieldset>

            <!-- Text input-->

            <div class="form-group">
                <label class="control-label">Prénom</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                         <input name="firstname"
                            value=""
                            placeholder="Prénom"
                            class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="control-label">Nom</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <input name="lastname"
                            value=""
                            placeholder="Nom"
                            class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label">e-Mail</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <input id="emailInscr" name="email"
                            value=""
                            placeholder="e-Mail"
                            class="form-control" type="text">
                    </div>
                </div>
            </div>


    

            <!-- Text input-->

            <div class="form-group">
                <label class="control-label">Adresse</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <input name="address"
                            value=""
                            placeholder="Adresse"
                            class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="control-label">Ville</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <input name="city"
                            value=""
                            placeholder="Ville"
                            class="form-control" type="text">
                    </div>
                </div>
            </div>

            

            <!-- Text input-->

            <div class="form-group">
                <label class="control-label">Code postal</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <input name="postcode"
                            value=""
                            placeholder="Code postal"
                            class="form-control" type="number">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                    <label class="control-label">Nom d'utilisateur</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input name="user"
                                value=""
                                placeholder="Nom d'utilisateur"
                                class="form-control" type="text">
                        </div>
                    </div>
                </div>

            
            

            <!-- Text input-->

            <div class="form-group">
                <label class="control-label">Mot de passe</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <input
                            name="password"
                            value=""
                            placeholder="Mot de passe"
                            class="form-control" type="password">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="control-label">Confirmer mot de passe</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <input
                            name="confirmationpassword"
                            placeholder="Mot de passe"
                            class="form-control" type="password">
                    </div>
                </div>
            </div>


            

            
            

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <!--  <button type="submit" class="btn btn-primary">-->
                    <button type="submit" id="InscriptionButton" class="btn btn-primary">
                        S'enregister
                        <span class="glyphicon glyphicon-send"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                        Annuler
                    </button>
                </div>
            </div>

        </fieldset>

    </form>
</div>
</div>

