<div class="row justify-content-center">

        <div class="col-md-3">

            <form [formGroup]="loginForm" class="form-horizontal"
                  (ngSubmit)="login(loginForm.value)" role="formConnect" id="login_form">
                <div class="form-group">
                    <label class="col-md-4 control-label">Email</label>
                    <ng-container></ng-container>
                    <div class="col-md-6">
                        <input id="emailConnect" name="emailConnect"
                            value="" type="text" [formControl]="loginForm.controls['username']"
                            class="form-control" [ngClass]="{'has-error':!loginForm.controls['username'].valid && loginForm.controls['username'].touched}">
                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Mot de passe</label>
                    <div class="col-md-6">
                        <input id="passwordConnect" name="passwordConnect"
                               type="password" [formControl]="loginForm.controls['password']"
                               class="form-control" [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
                    </div>
                </div>

                    <!-- Alert message -->
                    <!--<div class="alert alert-danger" role="alert"-->
                        <!--id="failconnect_message">-->
                        <!--Email ou mot de passe incorrect-->
                    <!--</div>-->



                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <!--  <button type="submit" class="btn btn-primary">-->
                        <button type="submit" id="connectButton" class="btn btn-primary">
                            Se connecter
                            <span class="glyphicon glyphicon-log-in"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
