<!-- -------------------------- -->
<!-- DESCRIPTION                -->
<!-- -------------------------- -->

<div class="container-fluid bg-grey section" id="description-section">
    <div class="row">
        <div class="col-md-12" align="center">
            <img class="img-responsive" src="../../../assets/img/Composition1.jpg" alt="sandwich" width="750px">
        </div>
        <div class="col-md-12" align="center">
            <h2><u>Description</u></h2>
        </div>
        <div class="col-4 col-md-11 ml-md-auto">
            <h2>
                La Baguette Garnie ...
            </h2>
            <br>
            <h4>
                ... propose un vaste choix de sandwiches réalisés à partir de produits frais.
            </h4>
            <br>
            <p>
                Du sandwiche "classique" au plus sophstiqué, il vous faudra des jours pour pouvoir tous les tester !
            </p>
        </div>

    </div>
</div>
