<!-- -------------------------- -->
<!-- CONTACT                    -->
<!-- -------------------------- -->
<div class="row">
    <div class="col-md-12" align="center">
        <h2><u>Nous contacter</u></h2>
    </div>
    <div class="container section" id="contact-section">
        <div class="row">

            <div class="col-md-3" align="right">

                <p>Adresse :</p>
                <p>Téléphone :</p>
                <p>Horaire d'ouverture :</p>
            </div>

            <div class="col-md-4">

                <p>Place Publique St Jean</p>
                <p>084/52.98.66</p>
                <p>Tous les jours de 06h00 à 14h</p>
            </div>

        </div>
    </div>
</div>
